mixin table
  table(
    role='presentation',
    border='0',
    cellpadding='0',
    cellspacing='0',
    width='100%',
    )&attributes(attributes)
    if block
      block
        
-
  let firstname = 'FIRSTNAME'; 
  let lastname = 'LASTNAME'; 
  let title = 'TITLE';
  let marginTop = '16px';
  let marginBottom = '16px';
  let avaColWidth = '32px';
  let gutterWidth = '22px';
  let ruleHeight = '4px';
  let spaceUnderRule = '20px';
  let spaceUnderName='18px';
  let spaceUnderTitle='6px';
  let red = '#F35A69';
  let black= '#221C35';
  let sys = '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif';
        
+table
  tr
    td(height=`${marginTop}`, style='font-size: 0px;') &nbsp;
    td
      +table
        tr
          td(width=`${avaColWidth}`, style='vertical-align: top;') 
            +table
              tr
                td(height=`${ruleHeight}`, style='font-size: 0px; background-color: #F35A69;') &nbsp;
            +table
              tr
                td(height=`${spaceUnderRule}`, style='font-size: 0px;') &nbsp;
            img(alt='The Savas Labs owl pictograph', src='https://signature.savaslabs.com/images/ava.jpg')
                
          td(width=`${gutterWidth}`)
          td.content
            +table
              tr
                td(height=`${ruleHeight}`, style='font-size: 0px;') &nbsp;
            +table
              tr
                td(height=`${spaceUnderRule}`, style='font-size: 0px;') &nbsp;
            +table
              tr
                td(style=`font-family: ${sys}; color: ${red}; font-weight: 900; font-size: 28px; line-height: 26px;`) #{firstname}<br>#{lastname}
            +table
              tr
                td(height=`${spaceUnderName}`, style='font-size: 0px;') &nbsp;
            +table
              tr
                td(style=`font-family: ${sys}; color: ${black}; font-size: 16px;`) #{title}
            +table
              tr
                td(height=`${spaceUnderTitle}`, style='font-size: 0px;') &nbsp;
            +table
              tr
                td(style=`font-family: ${sys}; color: ${black}; font-size: 16px;`) 
                  a(href=`https://www.savaslabs.com/?utm_source=email_signature&utm_medium=email&utm_campaign=email_signature&utm_content=${firstname}_${lastname}`, style=`color: ${black};`) Savas Labs
                  span(style=`color: ${red}`)  — 
                  a(href='tel:+19194324660', style=`color: ${black};`) 919 432 4660
            +table
              tr
                td(height=`${spaceUnderName}`, style='font-size: 0px;') &nbsp;
            +table
              tr
                td(style=`font-family: ${sys}; color: ${black}; font-size: 16px;`) We design and build<br>digital products.
    td(height=`${marginBottom}`, style='font-size: 0px;') &nbsp;
